.contactMe-Wrapper {
  padding: 0;
  margin: 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  .links-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    .line {
      border: 1px var(--main-Text) solid;
      min-width: 100%;
      height: 0;
    }.links{
      display: flex;
      
      width: fit-content;
      gap: 1rem;
      padding: 1rem;
      a{
        
        
        height: 24px;
      }
    }
  }
  fieldset {
    width: 100%;
    border: 0;
    border-left: 0;
    border-right: 0;

    legend {
      text-align: center;
      font-size: 3rem;
      padding: 0 2rem;

      color: var(--white);
    }
    .box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;

      flex-wrap: wrap;
      gap: 1rem;
      padding: 2rem;
      padding-bottom: 4rem;
      background-color: var(--Third-color);

      .content {
        max-width: 28ch;
        width: 100%;
        min-height: 5ch;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem;
        background-color: var(--primary-color);
        .logos {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        #text {
          font-size: 1.7rem;
          color: var(--main-Text);
        }
      }
    }
  }
}
