.contactMe-Wrapper {
  padding: 0;
  margin: 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;

  .links-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;

    .line {
      border: 1px var(--main-Text) solid;
      min-width: 100%;
      height: 0;
    }

    
  }

  fieldset {
    width: 100%;
    border: 2px var(--main-Text) solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background: var(--Fourth-color);
    position: relative;

    
    legend {
      text-align: center;
      font-size: 3rem;
      padding: 0 2rem;
      color: var(--white);
      margin-top: -1.5rem; 
      
    }

    .box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 2rem;
      padding-bottom: 4rem;
      background-color: var(--Third-color);

      .content {
        max-width: 28ch;
        width: 100%;
        min-height: 5ch;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem;
        background-color: var(--primary-color);

        .logos {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        #text {
          font-size: 1.7rem;
          color: var(--main-Text);
        }
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: var(--main-Text);
    }

    &::before {
      left: 0;
      width: 40%; /* Left half of the bottom border */
      max-width: 25%;
    }

    &::after {
      right: 0;
      width: 40%; /* Right half of the bottom border */
      max-width: 25%;
    }

    
    .bottom-text {
      text-align: center;
      font-size: 2rem;
      color: var(--white);
      position: absolute;
      bottom: -1.5rem; 
      left: 50%;
      transform: translateX(-50%);
      
      padding: 0 1rem;
      


      .links {
        display: flex;
        width: fit-content;
        gap: 1rem;
        padding: 1rem;
  
        a {
          height: 30px;
        }
      }
    }
  }
}
