.portfolio-Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--secondary-color);
  font-size: 2rem;
}

.portfolio-Wrapper h1 {
  color: var(--white);
  font-size: 3.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.portfolio-Wrapper .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 85%;
}

.portfolio-Wrapper .container .project {
  
  max-width: 25ch;
  max-height: 25ch;
  background-color: var(--Skill-card-color);
  color: var(--white);
  text-align: center;
  position: relative;
  margin: 1.5rem;
  display: grid;
  overflow: hidden;
  transition: transform 500ms ease;
}
.project-content h1 {
  font-size: 1.6rem;
}

.portfolio-Wrapper .container .project .project-content {
  place-self: center;
  padding: 1.5rem;
  z-index: 3;
  transform: translateY(30%);
  transition: transform 500ms ease;
}

.portfolio-Wrapper .container .project .project-content .description {
  font-size: 1.4rem;
}

.portfolio-Wrapper .container .project .project-content .btn {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--main-Text);
  border: 1px var(--primary-color) solid;
  color: var(--primary-color);
  margin-top: 1rem;
}

.portfolio-Wrapper .container .project .project-content > * {
  opacity: 0;
  transition: opacity 500ms linear;
}

.portfolio-Wrapper .container .project::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(87, 87, 87, 0.719); /* Adjust color and opacity */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
  z-index: 0;
}

.portfolio-Wrapper .container .project:hover,
.portfolio-Wrapper .container .project:focus-within {
  transform: scale(1.03);
}

.portfolio-Wrapper .container .project:hover .project::after,
.portfolio-Wrapper .container .project:focus-within .project::after {
  width: 200%;
  height: 200%;
  opacity: 0.5;
}

.portfolio-Wrapper .container .project:hover::after,
.portfolio-Wrapper .container .project:focus-within::after {
  width: 200%;
  height: 200%;
  opacity: 1;
}

.portfolio-Wrapper .container .project:hover .project-content,
.portfolio-Wrapper .container .project:focus-within .project-content {
  transform: translateY(0);
}

.portfolio-Wrapper .container .project:hover .project-content > *,
.portfolio-Wrapper .container .project:focus-within .project-content > * {
  opacity: 1;
}
