:root {
  --primary-color: #34353a;
  --secondary-color: #31333b;
  --Third-color: #3d3e42;
  --Fourth-color: #3d3e42;
  --faded-dots: #6c5f4a;
  --Skill-card-color: #3d3e42;
  --main-back-ground-color: #34353a;
  --gray: #b5b5b6;
  --fade: #646568;
  --main-Text: #f7ca6b;
  --white: #ffffff;
}
*::after &*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
section {
  padding: 2rem;
}

/* Style the scrollbar's track */
::-webkit-scrollbar {
  width: 7px; /* Width for vertical scrollbars */
  height: 7px; /* Height for horizontal scrollbars */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

/* Hover effect for scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Style the scrollbar's track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
  border-radius: 6px;
}
