:Root{
  --primary-color: #34353A;
  --test-color: #443F43;
  --Third-color:#464044;
  --secondary-color: #E9E9E9;
  --gray: #b5b5b6;
  --fade: #646568;
  --main-Text: #F7CA6B;
  --white: #ffffff;
}
*::after
&*::before{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  background-color: var(--Third-color);
  padding: 1.6rem;
  font-size: 1.175rem;
}


/* Style the scrollbar's track */
::-webkit-scrollbar {
  width: 7px; /* Width for vertical scrollbars */
  height: 7px; /* Height for horizontal scrollbars */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

/* Hover effect for scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  
}

/* Style the scrollbar's track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
  border-radius: 6px;
}
